<!DOCTYPE html>
<html >
    <head>
    <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>Skype uqac</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel='stylesheet'>
                <link rel="stylesheet" href="/stylesheets/messenger.css">
                    <script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
                    <script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
                    <script type="text/javascript" src="/js/bootstrap3-typeahead.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row chats-row">
                <div class="col-md-12">
                    <a href="#" class="list-group-item open-request">
                        <p><strong><u>account :</u></strong></p>
                        <p>Name:  <% if (mysession.pseudo) { %><%-mysession.pseudo%><% } %></p>
                        <p>Email: <% if (mysession.email) { %><%-mysession.email%><% } %> </p>
                    </a>
                    <a href="#" class="list-group-item chat-request">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="friend name" id="friend" name="friend" required>
                            <span class="input-group-btn">
                                <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add friend</button>
                            </span>
                        </div>
                        <p><strong><u>Amis :</u></strong> <% if (amis) { %><%-amis.length%><% } %></p>
                        <% if (amis) { for(var i=0; i<amis.length; i++){%>
                        <p><%-amis[i].pseudo%></p>
                        <% } } %>
                    </a>
                    <a href="#" class="list-group-item chat-request">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Conversation name" id="conversation" name="conversation" required>
                        <span class="input-group-btn">
                        <button id="chat-create-ticket" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-pencil"></i> New
                        </button></span>
                        </div>
                        <strong><u>Conversation :</u></strong>
                    </a>
                    
                </div>
                <div class="col-md-12">
                    <a href="#" class="list-group-item">TeamSupport</a>
                    <a href="#" class="list-group-item list-group-item-success">About</a>
                    <a href="#" class="list-group-item active">Autre</a>
                </div>
            </div>
        </div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
                <div class="col-sm-12">
                    <div class="input-group chat-toolbar form-horizontal" role="group" aria-label="...">
                        <input type="text" class="form-control" placeholder="Participants name" id="participants" name="participants" required>
                        <span class="input-group-btn">
                        <button id="chat-add-ticket" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-plus"></i> Add Participants
                        </button>
                        </span>
                            
                    </div>
                </div>
            </div>
            <div class="row current-chat-area" id="message">
                
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message" id="message-input" name="message" required>
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="send" >Send</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="the-basics">
    <input class="typeahead" type="text" placeholder="States of USA">
        </div>
</body>
</html>
<script type="text/javascript">
    //autocomplete input
    var friend = <%-JSON.stringify(amis) %>;
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
            
            // an array that will be populated with substring matches
            matches = [];
            
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
            
            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                   if (substrRegex.test(str)) {
                   matches.push(str);
                   }
                   });
                   
                   cb(matches);
        };
    };
    var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
                  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
                  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
                  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
                  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
                  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
                  ];
                  
                  $('#the-basics .typeahead').typeahead({
                                                        hint: true,
                                                        highlight: true,
                                                        minLength: 1
                                                        },
                                                        {
                                                        name: 'states',
                                                        source: substringMatcher(states)
                                                        });
    //notify start
    var notify = $.notify({title: '<strong>Hello!</strong>',message: 'You are now connected.'},{type: 'info'});

    /** Socket */
    var socket = io();
    //var pseudo = <%-mysession%>
    var mysession = <%- JSON.stringify(mysession) %>;
    console.log(mysession);
    socket.on('connect', function(){
        socket.emit('new user', mysession.pseudo);
        console.log("connection socket reussi.");
    });
    
    socket.on('message', function(message) {
                            $('#message').prepend('<div class="col-md-12"><ul class="media-list"><li class="media"><div class="media-body"><div class="media"><a class="pull-left" href="#"><img class="media-object img-circle" src="https://app.teamsupport.com/dc/1078/UserAvatar/2733968/48/1470773158079"></a><div class="media-body">'+message+'<br><small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small><hr></div></div></div></li></ul></div>');
              $.notify({title: '<strong>Message!</strong>',message: 'New Message from : '},{type: 'info'});
    })
    $('#send').click(function() {
        var message = document.getElementById('message-input').value;
        console.log(message);
        socket.emit('message', message);
        $('#message').prepend('<div class="col-md-12" style="background-color:lightblue;"><ul class="media-list"><li class="media"><div class="media-body"><div class="media"><a class="pull-left" href="#"><img class="media-object img-circle" src="https://app.teamsupport.com/dc/1078/UserAvatar/2733968/48/1470773158079"></a><div class="media-body">'+message+'<br><small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small><hr></div></div></div></li></ul></div>');
        document.getElementById('message-input').value = "";
    })
    
    
</script>
